**EJERCICIOS DE REPASO**

**1 - Select**

## <mark><mark>Ejercicio</mark></mark> 2[]()

Después de revisarlo un poco, Gonzalo nos indica que debemos eliminar el IVA para poder tener una estimación de beneficio real.

Partiendo de la tabla DATOS\_BASE, obtén el identificador de pedido, el importe total pagado, el importe sin IVA, el IVA y el margen esperado sabiendo que es un 30% del importe sin IVA. El tipo de IVA para todos los artículos es de un 21%.

In [29]:
SELECT TOP 10 PEDIDO_ID, INGRESOS_EUR AS 'IMPORTE TOTAL', INGRESOS_EUR/1.21 AS 'BASE', (INGRESOS_EUR/1.21)*0.21 AS 'IVA', ((INGRESOS_EUR/1.21)*0.21)*0.30 AS 'MARGEN'
FROM NEMINA.dbo.DATOS_BASE

PEDIDO_ID,IMPORTE TOTAL,BASE,IVA,MARGEN
P-0001,24677.0000000000,20394.21487603305785,4282.7851239669421485,1284.835537190082644550
P-0002,27048.0000000000,22353.71900826446280,4694.2809917355371880,1408.284297520661156400
P-0003,27432.0000000000,22671.07438016528925,4760.9256198347107425,1428.277685950413222750
P-0004,25990.0000000000,21479.33884297520661,4510.6611570247933881,1353.198347107438016430
P-0005,24590.0000000000,20322.31404958677685,4267.6859504132231385,1280.305785123966941550
P-0006,26170.0000000000,21628.09917355371900,4541.9008264462809900,1362.570247933884297000
P-0007,25344.0000000000,20945.45454545454545,4398.5454545454545445,1319.563636363636363350
P-0008,24106.0000000000,19922.31404958677685,4183.6859504132231385,1255.105785123966941550
P-0009,23846.0000000000,19707.43801652892561,4138.5619834710743781,1241.568595041322313430
P-0010,20311.0000000000,16785.95041322314049,3525.0495867768595029,1057.514876033057850870

## Ejercicio 3[]()

Añade, a la tabla anterior, las toneladas vendidas y obtén tanto el precio de venta en € por tonelada como el beneficio por tonelada vendida.

In [30]:
SELECT  TOP 5 PEDIDO_ID, INGRESOS_EUR AS IMPORTE, INGRESOS_EUR/(1+0.21) AS IMPORTE_NETO, INGRESOS_EUR - INGRESOS_EUR / (1+0.21) AS IVA,  (INGRESOS_EUR/(1+0.21)) * 0.3 AS BENEFICIO,
TONELADAS,  ((INGRESOS_EUR/(1+0.21)) * 0.3) /TONELADAS AS BENEFICIO_POR_TONELADA
FROM NEMINA.DBO.DATOS_BASE;

PEDIDO_ID,IMPORTE,IMPORTE_NETO,IVA,BENEFICIO,TONELADAS,BENEFICIO_POR_TONELADA
P-0001,24677.0000000000,20394.214876033057851,4282.785123966942149,6118.2644628099173553,31.8000000000,192.39825354748167783
P-0002,27048.0000000000,22353.719008264462809,4694.280991735537191,6706.1157024793388427,34.5000000000,194.38016528925619833
P-0003,27432.0000000000,22671.074380165289256,4760.925619834710744,6801.3223140495867768,38.1000000000,178.51239669421487603
P-0004,25990.0000000000,21479.338842975206611,4510.661157024793389,6443.8016528925619833,35.7000000000,180.49864573928745051
P-0005,24590.0000000000,20322.314049586776859,4267.685950413223141,6096.6942148760330577,32.7000000000,186.44324816134657668

1. Obtén los datos de la tabla SOCIODEMO.DBO.VELOCIDADES
2. Un ciclista sube una cuesta de 7 Km a 10 Km por hora, nada más llegar arriba y sin pausa inicia la bajada de la misma cuesta. Comprueba como, con cualquier velocidad de bajada de las que están en la tabla, el ciclista nunca llega a alcanzar una media de 20 km/h

In [31]:
SELECT  10.0 VELOCIDAD_SUBIDA,
        7.5 / 10 AS TIEMPO_SUBIDA,
        VELOCIDAD AS VELOCIDAD_BAJADA,
        7.5 / VELOCIDAD AS TIEMPO_BAJADA,
        7.5 / 10 + 7.5 / VELOCIDAD AS TIEMPO_TOTAL,
        15 / (7.5 / 10 + 7.5 / VELOCIDAD ) AS VELOCIDAD_MEDIA
FROM SOCIODEMO.DBO.VELOCIDADES

VELOCIDAD_SUBIDA,TIEMPO_SUBIDA,VELOCIDAD_BAJADA,TIEMPO_BAJADA,TIEMPO_TOTAL,VELOCIDAD_MEDIA
10.0,0.750000,10.0000000000,0.75000000000000000000,1.50000000000000000000,10.0000000000000000
10.0,0.750000,20.0000000000,0.37500000000000000000,1.12500000000000000000,13.3333333333333333
10.0,0.750000,30.0000000000,0.25000000000000000000,1.00000000000000000000,15.0000000000000000
10.0,0.750000,40.0000000000,0.18750000000000000000,0.93750000000000000000,16.0000000000000000
10.0,0.750000,50.0000000000,0.15000000000000000000,0.90000000000000000000,16.6666666666666666
10.0,0.750000,60.0000000000,0.12500000000000000000,0.87500000000000000000,17.1428571428571428
10.0,0.750000,70.0000000000,0.10714285714285714285,0.85714285714285714285,17.5000000000000000
10.0,0.750000,100.0000000000,0.07500000000000000000,0.82500000000000000000,18.1818181818181818
10.0,0.750000,1000.0000000000,0.00750000000000000000,0.75750000000000000000,19.8019801980198019
10.0,0.750000,10000.0000000000,0.00075000000000000000,0.75075000000000000000,19.9800199800199800

**Ejercicios JOINS**

Ejercicio 5
Une la tabla de venta y productos. ¿Ves algún problema? .

In [32]:
SELECT TOP 10 * FROM NEMINA.DBO.DATOS_BASE D
LEFT JOIN NEMINA.DBO.PRODUCTOS P
    ON D.PRODUCTO_ID = P.PRODUCTO_ID
    AND D.FY_ID = P.FY_ID

PEDIDO_ID,FY_ID,PRODUCTO_ID,ZONA_ID,CLIENTE_ID,TONELADAS,INGRESOS_EUR,PRODUCTO_ID,FY_ID,IMPORTE
P-0001,2016,Setas,Lugo,7,31.8000000000,24677.0000000000,Setas,2016,800.0000000000
P-0002,2016,Setas,Ourense,27,34.5000000000,27048.0000000000,Setas,2016,800.0000000000
P-0003,2016,Setas,Ourense,21,38.1000000000,27432.0000000000,Setas,2016,800.0000000000
P-0004,2016,Setas,Ourense,26,35.7000000000,25990.0000000000,Setas,2016,800.0000000000
P-0005,2016,Setas,Pontevedra,25,32.7000000000,24590.0000000000,Setas,2016,800.0000000000
P-0006,2016,Setas,Pontevedra,24,34.8000000000,26170.0000000000,Setas,2016,800.0000000000
P-0007,2016,Setas,Coruña,2,33.0000000000,25344.0000000000,Setas,2016,800.0000000000
P-0008,2016,Setas,Lugo,9,32.4000000000,24106.0000000000,Setas,2016,800.0000000000
P-0009,2016,Setas,Coruña,16,32.4000000000,23846.0000000000,Setas,2016,800.0000000000
P-0010,2016,Setas,Ourense,21,27.9000000000,20311.0000000000,Setas,2016,800.0000000000

## <mark><mark>Ejercicio</mark></mark> 6[]()

Enlaza la tabla de DATOS\_BASE en NEMINA con la tabla de clientes, población por provincia y precios

In [33]:
SELECT TOP 5 * 
FROM NEMINA.DBO.DATOS_BASE B
LEFT JOIN NEMINA.DBO.CLIENTES C 
       ON B.CLIENTE_ID = C.CLIENTE_ID
LEFT JOIN SOCIODEMO.DBO.POBLACION_PROVINCIAS PP
       ON C.PROVINCIA_ID = PP.PROVINCIA_ID
      AND C.SEXO_ID = PP.SEXO
      AND C.EDAD >= PP.EDAD_MIN
      AND C.EDAD <= PP.EDAD_MAX
LEFT JOIN NEMINA.DBO.PRODUCTOS P
       ON B.PRODUCTO_ID = P.PRODUCTO_ID
      AND B.FY_ID = P.FY_ID

PEDIDO_ID,FY_ID,PRODUCTO_ID,ZONA_ID,CLIENTE_ID,TONELADAS,INGRESOS_EUR,CLIENTE_ID,PROVINCIA_ID,SEXO_ID,EDAD,FY_ID,PROVINCIA_ID,EDAD,SEXO,HABITANTES,EDAD_MIN,EDAD_MAX,PRODUCTO_ID,FY_ID,IMPORTE
P-0001,2016,Setas,Lugo,7,31.8000000000,24677.0000000000,7,36,MUJER,23,2019,36,20_24,MUJER,19551,20,24,Setas,2016,800.0000000000
P-0002,2016,Setas,Ourense,27,34.5000000000,27048.0000000000,27,27,MUJER,47,2019,27,45_49,MUJER,12152,45,49,Setas,2016,800.0000000000
P-0003,2016,Setas,Ourense,21,38.1000000000,27432.0000000000,21,27,MUJER,42,2019,27,40_44,MUJER,12145,40,44,Setas,2016,800.0000000000
P-0004,2016,Setas,Ourense,26,35.7000000000,25990.0000000000,26,15,HOMBRE,28,2019,15,25_29,HOMBRE,25566,25,29,Setas,2016,800.0000000000
P-0005,2016,Setas,Pontevedra,25,32.7000000000,24590.0000000000,25,32,MUJER,43,2019,32,40_44,MUJER,11243,40,44,Setas,2016,800.0000000000

# <mark><mark><mark><mark>Ejerci</mark></mark></mark></mark>cio 7[]()

Añade, a la tabla anterior el descuento realizado en € y porcentaje.

Ordena esta tabla para encontrar:

1. El cliente que más descuento ha recibido en €.
2. El cliente que menos descuento ha recibido en %.
3. El pedido de mayor cantidad de toneladas.

In [34]:
SELECT TOP 1 *, P.IMPORTE, B.TONELADAS, B.INGRESOS_EUR, P.IMPORTE * B.TONELADAS AS INGRESO_ESPERADO, INGRESOS_EUR - (P.IMPORTE * B.TONELADAS) AS DTO, (INGRESOS_EUR - (P.IMPORTE * B.TONELADAS))/(P.IMPORTE*B.TONELADAS) AS DTO_PCT 
FROM NEMINA.DBO.DATOS_BASE B
LEFT JOIN NEMINA.DBO.CLIENTES C 
       ON B.CLIENTE_ID = C.CLIENTE_ID
LEFT JOIN SOCIODEMO.DBO.POBLACION_PROVINCIAS PP
       ON C.PROVINCIA_ID = PP.PROVINCIA_ID
      AND C.SEXO_ID = PP.SEXO
      AND C.EDAD >= PP.EDAD_MIN
      AND C.EDAD <= PP.EDAD_MAX
LEFT JOIN NEMINA.DBO.PRODUCTOS P
       ON B.PRODUCTO_ID = P.PRODUCTO_ID
      AND B.FY_ID = P.FY_ID

ORDER BY DTO ASC

PEDIDO_ID,FY_ID,PRODUCTO_ID,ZONA_ID,CLIENTE_ID,TONELADAS,INGRESOS_EUR,CLIENTE_ID,PROVINCIA_ID,SEXO_ID,EDAD,FY_ID,PROVINCIA_ID,EDAD,SEXO,HABITANTES,EDAD_MIN,EDAD_MAX,PRODUCTO_ID,FY_ID,IMPORTE,IMPORTE,TONELADAS,INGRESOS_EUR,INGRESO_ESPERADO,DTO,DTO_PCT
P-0365,2019,Setas,Ourense,24,592.0000000000,374144.0000000000,24,15,MUJER,27,2019,15,25_29,MUJER,25147,25,29,Setas,2019,837.0000000000,837.0000000000,592.0000000000,374144.0000000000,495504.00000000000000000000,-121360.00000000000000000000,-0.244922

In [35]:
SELECT TOP 1 *, P.IMPORTE, B.TONELADAS, B.INGRESOS_EUR, P.IMPORTE * B.TONELADAS AS INGRESO_ESPERADO, INGRESOS_EUR - (P.IMPORTE * B.TONELADAS) AS DTO, (INGRESOS_EUR - (P.IMPORTE * B.TONELADAS))/(P.IMPORTE*B.TONELADAS) AS DTO_PCT 
FROM NEMINA.DBO.DATOS_BASE B
LEFT JOIN NEMINA.DBO.CLIENTES C 
       ON B.CLIENTE_ID = C.CLIENTE_ID
LEFT JOIN SOCIODEMO.DBO.POBLACION_PROVINCIAS PP
       ON C.PROVINCIA_ID = PP.PROVINCIA_ID
      AND C.SEXO_ID = PP.SEXO
      AND C.EDAD >= PP.EDAD_MIN
      AND C.EDAD <= PP.EDAD_MAX
LEFT JOIN NEMINA.DBO.PRODUCTOS P
       ON B.PRODUCTO_ID = P.PRODUCTO_ID
      AND B.FY_ID = P.FY_ID

ORDER BY DTO_PCT DESC

PEDIDO_ID,FY_ID,PRODUCTO_ID,ZONA_ID,CLIENTE_ID,TONELADAS,INGRESOS_EUR,CLIENTE_ID,PROVINCIA_ID,SEXO_ID,EDAD,FY_ID,PROVINCIA_ID,EDAD,SEXO,HABITANTES,EDAD_MIN,EDAD_MAX,PRODUCTO_ID,FY_ID,IMPORTE,IMPORTE,TONELADAS,INGRESOS_EUR,INGRESO_ESPERADO,DTO,DTO_PCT
P-0093,2017,Belleza,Coruña,39,39.2000000000,141120.0000000000,39,36,HOMBRE,48,2019,36,45_49,HOMBRE,38847,45,49,Belleza,2017,3000.0000000000,3000.0000000000,39.2000000000,141120.0000000000,117600.00000000000000000000,23520.00000000000000000000,0.200000

In [36]:
SELECT TOP 1 *, P.IMPORTE, B.TONELADAS, B.INGRESOS_EUR, P.IMPORTE * B.TONELADAS AS INGRESO_ESPERADO, INGRESOS_EUR - (P.IMPORTE * B.TONELADAS) AS DTO, (INGRESOS_EUR - (P.IMPORTE * B.TONELADAS))/(P.IMPORTE*B.TONELADAS) AS DTO_PCT 
FROM NEMINA.DBO.DATOS_BASE B
LEFT JOIN NEMINA.DBO.CLIENTES C 
       ON B.CLIENTE_ID = C.CLIENTE_ID
LEFT JOIN SOCIODEMO.DBO.POBLACION_PROVINCIAS PP
       ON C.PROVINCIA_ID = PP.PROVINCIA_ID
      AND C.SEXO_ID = PP.SEXO
      AND C.EDAD >= PP.EDAD_MIN
      AND C.EDAD <= PP.EDAD_MAX
LEFT JOIN NEMINA.DBO.PRODUCTOS P
       ON B.PRODUCTO_ID = P.PRODUCTO_ID
      AND B.FY_ID = P.FY_ID

ORDER BY B.TONELADAS DESC

PEDIDO_ID,FY_ID,PRODUCTO_ID,ZONA_ID,CLIENTE_ID,TONELADAS,INGRESOS_EUR,CLIENTE_ID,PROVINCIA_ID,SEXO_ID,EDAD,FY_ID,PROVINCIA_ID,EDAD,SEXO,HABITANTES,EDAD_MIN,EDAD_MAX,PRODUCTO_ID,FY_ID,IMPORTE,IMPORTE,TONELADAS,INGRESOS_EUR,INGRESO_ESPERADO,DTO,DTO_PCT
P-0365,2019,Setas,Ourense,24,592.0000000000,374144.0000000000,24,15,MUJER,27,2019,15,25_29,MUJER,25147,25,29,Setas,2019,837.0000000000,837.0000000000,592.0000000000,374144.0000000000,495504.00000000000000000000,-121360.00000000000000000000,-0.244922

**WHERE**

Ejercicio 8
Encuentra:

Todos los pedidos cuyos ingresos sean inferiores a 18000 €
Todos los pedidos cuyo precio por tonelada sea inferior a 580 €
Todos los pedidos de algas

In [40]:
SELECT * FROM NEMINA.DBO.DATOS_BASE
WHERE INGRESOS_EUR<18000

In [43]:
SELECT TOP 10 *, INGRESOS_EUR/TONELADAS AS ING_TON FROM NEMINA.DBO.DATOS_BASE
WHERE (INGRESOS_EUR/TONELADAS) <580

PEDIDO_ID,FY_ID,PRODUCTO_ID,ZONA_ID,CLIENTE_ID,TONELADAS,INGRESOS_EUR,ING_TON
P-0019,2016,Algas,Ourense,27,37.5000000000,21375.0000000000,570.00000000000000000000
P-0022,2016,Algas,Pontevedra,25,30.9000000000,17613.0000000000,570.00000000000000000000
P-0029,2016,Algas,Coruña,6,33.3000000000,19181.0000000000,576.00600600600600600600
P-0042,2016,Algas,Coruña,1,32.4000000000,18468.0000000000,570.00000000000000000000
P-0049,2016,Algas,Pontevedra,23,34.2000000000,19699.0000000000,575.99415204678362573099

In [45]:
SELECT count(*) FROM NEMINA.DBO.DATOS_BASE
WHERE PRODUCTO_ID = 'Algas'

(No column name)
188

# <mark>Ejerci</mark>cio 9

Encuentra:

- Todos los pedidos realizados en la zona de Coruña en el año 2019
- Todos los pedidos realizados por una mujer de Algas
- Todos los pedidos realizados por una mujer y que sean de Algas o de Belleza
- Todos los pedidos de importe \> 10000 € e inferior a 30000

In [46]:
SELECT TOP 5 * FROM NEMINA.DBO.DATOS_BASE
WHERE ZONA_ID = 'Coruña'
AND FY_ID = 2019

PEDIDO_ID,FY_ID,PRODUCTO_ID,ZONA_ID,CLIENTE_ID,TONELADAS,INGRESOS_EUR
P-0302,2019,Setas,Coruña,17,42.8000000000,32870.0000000000
P-0303,2019,Setas,Coruña,11,45.2000000000,34352.0000000000
P-0305,2019,Algas,Coruña,18,42.4000000000,25949.0000000000
P-0307,2019,Algas,Coruña,14,42.8000000000,26450.0000000000
P-0309,2019,Algas,Coruña,18,42.0000000000,25956.0000000000

In [51]:
SELECT TOP 5 * FROM NEMINA.DBO.DATOS_BASE D
LEFT JOIN NEMINA.DBO.CLIENTES C
ON D.CLIENTE_ID = C.CLIENTE_ID
WHERE PRODUCTO_ID = 'Algas' AND SEXO_ID = 'Mujer';

SELECT count(*) FROM NEMINA.DBO.DATOS_BASE D
LEFT JOIN NEMINA.DBO.CLIENTES C
ON D.CLIENTE_ID = C.CLIENTE_ID
WHERE PRODUCTO_ID = 'Algas' AND SEXO_ID = 'Mujer';

PEDIDO_ID,FY_ID,PRODUCTO_ID,ZONA_ID,CLIENTE_ID,TONELADAS,INGRESOS_EUR,CLIENTE_ID,PROVINCIA_ID,SEXO_ID,EDAD
P-0012,2016,Algas,Ourense,27,29.7000000000,17998.0000000000,27,27,MUJER,47
P-0014,2016,Algas,Lugo,16,32.7000000000,19816.0000000000,16,15,MUJER,31
P-0018,2016,Algas,Coruña,18,31.8000000000,19271.0000000000,18,36,MUJER,32
P-0019,2016,Algas,Ourense,27,37.5000000000,21375.0000000000,27,27,MUJER,47
P-0020,2016,Algas,Coruña,7,33.3000000000,19780.0000000000,7,36,MUJER,23

(No column name)
141

In [49]:
SELECT TOP 5 * FROM NEMINA.DBO.DATOS_BASE D
LEFT JOIN NEMINA.DBO.CLIENTES C
ON D.CLIENTE_ID = C.CLIENTE_ID
WHERE (PRODUCTO_ID = 'Algas' OR PRODUCTO_ID = 'Belleza') AND SEXO_ID = 'Mujer';

SELECT count(*) FROM NEMINA.DBO.DATOS_BASE D
LEFT JOIN NEMINA.DBO.CLIENTES C
ON D.CLIENTE_ID = C.CLIENTE_ID
WHERE (PRODUCTO_ID = 'Algas' OR PRODUCTO_ID = 'Belleza') AND SEXO_ID = 'Mujer';

PEDIDO_ID,FY_ID,PRODUCTO_ID,ZONA_ID,CLIENTE_ID,TONELADAS,INGRESOS_EUR,CLIENTE_ID,PROVINCIA_ID,SEXO_ID,EDAD
P-0012,2016,Algas,Ourense,27,29.7000000000,17998.0000000000,27,27,MUJER,47
P-0014,2016,Algas,Lugo,16,32.7000000000,19816.0000000000,16,15,MUJER,31
P-0018,2016,Algas,Coruña,18,31.8000000000,19271.0000000000,18,36,MUJER,32
P-0019,2016,Algas,Ourense,27,37.5000000000,21375.0000000000,27,27,MUJER,47
P-0020,2016,Algas,Coruña,7,33.3000000000,19780.0000000000,7,36,MUJER,23

(No column name)
190

In [53]:
SELECT TOP 5 * FROM NEMINA.DBO.DATOS_BASE
WHERE INGRESOS_EUR>10000 AND INGRESOS_EUR<30000

SELECT COUNT(*) FROM NEMINA.DBO.DATOS_BASE
WHERE INGRESOS_EUR>10000 AND INGRESOS_EUR<30000

PEDIDO_ID,FY_ID,PRODUCTO_ID,ZONA_ID,CLIENTE_ID,TONELADAS,INGRESOS_EUR
P-0001,2016,Setas,Lugo,7,31.8000000000,24677.0000000000
P-0002,2016,Setas,Ourense,27,34.5000000000,27048.0000000000
P-0003,2016,Setas,Ourense,21,38.1000000000,27432.0000000000
P-0004,2016,Setas,Ourense,26,35.7000000000,25990.0000000000
P-0005,2016,Setas,Pontevedra,25,32.7000000000,24590.0000000000

(No column name)
335

# <mark>Ejerci</mark>cio 10

Obtén los pedidos de Setas realizados por hombres, de entre 35 y 50 años (ambos incluidos) que vivan en provincias para las que, en su grupo de edad, residan más de 40.000 personas.

In [57]:
SELECT TOP 5 * FROM NEMINA.DBO.DATOS_BASE D
LEFT JOIN NEMINA.DBO.CLIENTES C
ON D.CLIENTE_ID = C.CLIENTE_ID
LEFT JOIN SOCIODEMO.DBO.POBLACION_PROVINCIAS P
       ON C.PROVINCIA_ID = P.PROVINCIA_ID
      AND C.SEXO_ID = P.SEXO
      AND C.EDAD BETWEEN P.EDAD_MIN AND P.EDAD_MAX
WHERE C.EDAD BETWEEN 35 AND 50
AND HABITANTES > 40000
AND SEXO_ID = 'HOMBRE'
AND PRODUCTO_ID = 'Setas';


SELECT count(*) AS COUNTING FROM NEMINA.DBO.DATOS_BASE D
LEFT JOIN NEMINA.DBO.CLIENTES C
ON D.CLIENTE_ID = C.CLIENTE_ID
LEFT JOIN SOCIODEMO.DBO.POBLACION_PROVINCIAS P
       ON C.PROVINCIA_ID = P.PROVINCIA_ID
      AND C.SEXO_ID = P.SEXO
      AND C.EDAD BETWEEN P.EDAD_MIN AND P.EDAD_MAX
WHERE C.EDAD BETWEEN 35 AND 50
AND HABITANTES > 40000
AND SEXO_ID = 'HOMBRE'
AND PRODUCTO_ID = 'Setas'

PEDIDO_ID,FY_ID,PRODUCTO_ID,ZONA_ID,CLIENTE_ID,TONELADAS,INGRESOS_EUR,CLIENTE_ID,PROVINCIA_ID,SEXO_ID,EDAD,FY_ID,PROVINCIA_ID,EDAD,SEXO,HABITANTES,EDAD_MIN,EDAD_MAX
P-0156,2018,Setas,Coruña,29,43.3000000000,31190.0000000000,29,15,HOMBRE,50,2019,15,50_54,HOMBRE,41846,50,54
P-0320,2019,Setas,Coruña,32,43.2000000000,33869.0000000000,32,15,HOMBRE,50,2019,15,50_54,HOMBRE,41846,50,54
P-0379,2019,Setas,Coruña,33,42.8000000000,32870.0000000000,33,15,HOMBRE,37,2019,15,35_39,HOMBRE,40239,35,39

COUNTING
3

**AGREGADOS**

Ejercicio 11 

Obtén el número de pedidos por sexo Obtén el número de pedidos por edad Obtén el número de pedidos por sexo y edad

In [58]:
SELECT SEXO_ID, COUNT(*) AS CONTEO 
FROM NEMINA.DBO.DATOS_BASE D
LEFT JOIN NEMINA.DBO.CLIENTES C
ON D.CLIENTE_ID = C.CLIENTE_ID
GROUP BY C.SEXO_ID

SEXO_ID,CONTEO
HOMBRE,109
MUJER,392

In [66]:
SELECT TOP 10 EDAD, COUNT(*) AS CONTEO 
FROM NEMINA.DBO.DATOS_BASE D
LEFT JOIN NEMINA.DBO.CLIENTES C
ON D.CLIENTE_ID = C.CLIENTE_ID
GROUP BY EDAD
ORDER BY CONTEO DESC

EDAD,CONTEO
28,84
36,47
47,42
27,34
43,33
32,32
42,32
45,32
46,21
52,20

In [67]:
SELECT  TOP 5 SEXO_ID, EDAD, COUNT(*) AS CONTEO
FROM NEMINA.DBO.DATOS_BASE B
LEFT JOIN NEMINA.DBO.CLIENTES C
       ON B.CLIENTE_ID = C.CLIENTE_ID
GROUP BY SEXO_ID, EDAD
ORDER BY CONTEO DESC;

SEXO_ID,EDAD,CONTEO
HOMBRE,28,70
MUJER,36,47
MUJER,47,42
MUJER,27,33
MUJER,43,33

# <mark>Ejerci</mark>cio 11

Obtén la media de ingresos para las ventas de Algas durante el año 2019 agrupadas por cliente.

In [71]:
SELECT TOP 10 CLIENTE_ID, AVG(INGRESOS_EUR) AS MEDIA_INGRESOS FROM NEMINA.DBO.DATOS_BASE
WHERE FY_ID=2019 AND PRODUCTO_ID='Algas'
GROUP BY CLIENTE_ID
ORDER BY 2 DESC

CLIENTE_ID,MEDIA_INGRESOS
25,93462.0000000000
22,50438.7500000000
6,27972.0000000000
16,27934.0000000000
12,27808.5000000000
11,27679.3333333333
15,27575.0000000000
17,27453.6666666666
3,27444.0000000000
13,27388.7500000000

# Having

El having es una cláusula de SQL que va después del GROUP BY y antes del ORDER que indica condiciones que debe cumplir el agregado.

Por ejemplo, obtener los ingresos promedios en el 2019 por cliente para los pedidos de algas si, el importe medio es, al menos de 40.000 €

In [80]:
SELECT  TOP 5 CLIENTE_ID, AVG(INGRESOS_EUR) AS X
FROM NEMINA.DBO.DATOS_BASE
WHERE FY_ID = 2019
  AND PRODUCTO_ID = 'Algas'
GROUP BY CLIENTE_ID
HAVING AVG(INGRESOS_EUR)>40000

CLIENTE_ID,X
22,50438.7500000000
25,93462.0000000000