![Logo MDS](images/logo_mds.png)

# **Sesión 4 - Analítica en la base de datos - Introducción a SQL**

# Caso Práctico

-   Localiza el cliente de Nemiña más rentable.
-   ¿Cuántas personas de su edad residen en su provincia? ¿y en toda Galicia?
-   ¿Cuántas personas de su edad son clientes de Nemiña?
-   ¿Cuáles son nuestros ingresos por Provincia?
-   ¿Cuáles son nuestros ingresos por habitante en cada Provincia?
-   ¿Cuál debería ser la provincia en la que Nemiña centrase su fuerza comercial?
-   ¿Cuál es la cuota de mercado de Nemiña en 2016 para Algas y Setas? ¿y en 2019?
-   ¿Cuál es el crecimiento de Nemiña entre 2016 y 2019? ¿y el del mercado?
-   ¿Qué comercial ha hecho más descuentos en número, € y pct sobre los ingresos durante cada año?

In [12]:
--"Localiza el cliente de Nemiña más rentable"
SELECT TOP 1 D.CLIENTE_ID, SUM(D.INGRESOS_EUR/D.TONELADAS) AS ING_TN, C.PROVINCIA_ID,C.SEXO_ID,C.EDAD 
FROM NEMINA.DBO.DATOS_BASE D 
LEFT JOIN NEMINA.DBO.CLIENTES C
ON D.CLIENTE_ID=C.CLIENTE_ID
GROUP BY D.CLIENTE_ID, C.PROVINCIA_ID,C.SEXO_ID,C.EDAD 
ORDER BY 2 DESC

CLIENTE_ID,ING_TN,PROVINCIA_ID,SEXO_ID,EDAD
28,39601.12730721289181718921,27,MUJER,45

In [13]:
--"¿Cuántas personas de su edad residen en su provincia? ¿y en toda Galicia?"
SELECT SUM(HABITANTES) AS HABITANTES
FROM SOCIODEMO.DBO.POBLACION_EDADES
WHERE PROVINCIA_ID=27 AND (EDAD_MIN<=45 AND EDAD_MAX>=45);

SELECT SUM(HABITANTES) AS HABITANTES
FROM SOCIODEMO.DBO.POBLACION_EDADES
WHERE (EDAD_MIN<=45 AND EDAD_MAX>=45)

HABITANTES
23968

HABITANTES
429290

In [14]:
--"¿Cuántas personas de su edad son clientes de Nemiña?"
SELECT COUNT(*) AS CONTEO 
FROM NEMINA.DBO.CLIENTES
WHERE EDAD=45

CONTEO
1

In [15]:
--"¿Cuáles son nuestros ingresos por Provincia?"
SELECT C.PROVINCIA_ID, SUM(D.INGRESOS_EUR) AS INGRESOS FROM NEMINA.DBO.DATOS_BASE D
LEFT JOIN NEMINA.DBO.CLIENTES C
ON C.CLIENTE_ID=D.CLIENTE_ID
GROUP BY C.PROVINCIA_ID
ORDER BY 2 DESC;

SELECT SUM(D.INGRESOS_EUR) AS INGRESOS FROM NEMINA.DBO.DATOS_BASE D
LEFT JOIN NEMINA.DBO.CLIENTES C
ON C.CLIENTE_ID=D.CLIENTE_ID

PROVINCIA_ID,INGRESOS
15,7523119.0000000000
36,5944157.0000000000
27,5327543.0000000000
32,2415676.0000000000

INGRESOS
21210495.0000000000

In [16]:
--"¿Cuáles son nuestros ingresos por habitante en cada Provincia?"

SELECT C.PROVINCIA_ID, SUM(D.INGRESOS_EUR) AS INGRESOS, SUM(PP.HABITANTES) AS HAB, (SUM(D.INGRESOS_EUR)/SUM(PP.HABITANTES)) AS ING_HAB FROM NEMINA.DBO.DATOS_BASE D
LEFT JOIN NEMINA.DBO.CLIENTES C
ON C.CLIENTE_ID=D.CLIENTE_ID
LEFT JOIN SOCIODEMO.DBO.POBLACION_PROVINCIAS PP
ON PP.PROVINCIA_ID=C.PROVINCIA_ID
GROUP BY C.PROVINCIA_ID
ORDER BY (SUM(D.INGRESOS_EUR)/SUM(PP.HABITANTES)) DESC

PROVINCIA_ID,INGRESOS,HAB,ING_HAB
32,86964336.0000000000,16920805,5.1394916494
27,191791548.0000000000,42187136,4.5462092520
36,213989652.0000000000,142342415,1.5033442561
15,270832284.0000000000,186972532,1.4485137528

In [17]:
--"¿Cuál debería ser la provincia en la que Nemiña centrase su fuerza comercial?"
SELECT C.PROVINCIA_ID, SUM(D.INGRESOS_EUR) AS INGRESOS, SUM(D.INGRESOS_EUR/TONELADAS) AS INGRESOS_TN, AVG(D.INGRESOS_EUR/TONELADAS) AS PRECIO_MEDIO, COUNT(DISTINCT(PEDIDO_ID)) AS NUM_PEDIDOS, COUNT(DISTINCT(C.CLIENTE_ID)) AS NUM_CLIENTES FROM NEMINA.DBO.DATOS_BASE D
LEFT JOIN NEMINA.DBO.CLIENTES C
ON C.CLIENTE_ID=D.CLIENTE_ID
GROUP BY C.PROVINCIA_ID
ORDER BY 3 DESC;

SELECT TOP 1 C.PROVINCIA_ID, SUM(D.INGRESOS_EUR) AS INGRESOS, SUM(D.INGRESOS_EUR/TONELADAS) AS INGRESOS_TN, AVG(D.INGRESOS_EUR/TONELADAS) AS PRECIO_MEDIO, COUNT(DISTINCT(PEDIDO_ID)) AS NUM_PEDIDOS, COUNT(DISTINCT(D.CLIENTE_ID)) AS NUM_CLIENTES FROM NEMINA.DBO.DATOS_BASE D
LEFT JOIN NEMINA.DBO.CLIENTES C
ON C.CLIENTE_ID=D.CLIENTE_ID
GROUP BY C.PROVINCIA_ID
ORDER BY AVG(D.INGRESOS_EUR/TONELADAS) DESC;

PROVINCIA_ID,INGRESOS,INGRESOS_TN,PRECIO_MEDIO,NUM_PEDIDOS,NUM_CLIENTES
15,7523119.0000000000,169328.06927257271258293155,1013.94053456630366816126,167,19
36,5944157.0000000000,136577.93749247377219866443,904.48965226803822648122,151,12
27,5327543.0000000000,125386.86327261994209002115,979.58486931734329757829,128,6
32,2415676.0000000000,55131.91035781257633281600,1002.39837014204684241483,55,4

PROVINCIA_ID,INGRESOS,INGRESOS_TN,PRECIO_MEDIO,NUM_PEDIDOS,NUM_CLIENTES
15,7523119.0000000000,169328.06927257271258293155,1013.94053456630366816126,167,19

In [18]:
-- "¿Cuál es la cuota de mercado de Nemiña en 2016 para Algas y Setas? ¿y en 2019?"
SELECT D.FY_ID,D.PRODUCTO_ID, M.VALOR, SUM(D.INGRESOS_EUR) AS INGRESOS, SUM(D.INGRESOS_EUR)/M.VALOR AS CUOTA FROM NEMINA.DBO.DATOS_BASE D
INNER JOIN NEMINA.DBO.MERCADO M
ON D.PRODUCTO_ID=M.PRODUCTO_ID AND D.FY_ID = M.FY_ID
GROUP BY D.PRODUCTO_ID,D.FY_ID,M.VALOR

FY_ID,PRODUCTO_ID,VALOR,INGRESOS,CUOTA
2016,Algas,500000.0000000000,303509.0000000000,0.607018
2019,Algas,3500000.0000000000,2259197.0000000000,0.645484
2016,Setas,2500000.0000000000,838528.0000000000,0.335411
2019,Setas,20000000.0000000000,3690871.0000000000,0.184543

In [19]:
-- "¿Cuál es el crecimiento de Nemiña entre 2016 y 2019? ¿y el del mercado?"
SELECT FY_ID,SUM(VALOR) AS VALOR_TOTAL FROM NEMINA.DBO.MERCADO
GROUP BY FY_ID;

SELECT FY_ID,SUM(INGRESOS_EUR) AS VALOR_TOTAL FROM NEMINA.DBO.DATOS_BASE
WHERE PRODUCTO_ID <> 'Belleza'
GROUP BY FY_ID
HAVING (FY_ID = 2016 OR FY_ID=2019);

SELECT ((23500000.0000000000-3000000.0000000000)/3000000.0000000000) * 100 AS CRECIMIENTO_MERCADO, ((5950068.0000000000-1142037.0000000000)/1142037.0000000000) * 100 AS CRECIMIENTO_NEMINA

FY_ID,VALOR_TOTAL
2016,3000000.0000000000
2019,23500000.0000000000

FY_ID,VALOR_TOTAL
2016,1142037.0000000000
2019,5950068.0000000000

CRECIMIENTO_MERCADO,CRECIMIENTO_NEMINA
683.333333333333333,421.0048360955030354

In [2]:
SELECT TOP 1 COUNT(*) AS NUMERO_PEDIDOS_DTO, C.COMERCIAL_ID,C.COMERCIAL_DESC,B.FY_ID, SUM(INGRESOS_EUR - (P.IMPORTE * B.TONELADAS)) AS DTO, AVG((INGRESOS_EUR - (P.IMPORTE * B.TONELADAS))/(P.IMPORTE*B.TONELADAS)) AS DTO_PCT 
FROM NEMINA.DBO.DATOS_BASE B
LEFT JOIN NEMINA.DBO.COMERCIALES C 
       ON B.ZONA_ID = C.ZONA_ID
LEFT JOIN NEMINA.DBO.PRODUCTOS P
       ON B.PRODUCTO_ID = P.PRODUCTO_ID
      AND B.FY_ID = P.FY_ID
WHERE INGRESOS_EUR - (P.IMPORTE * B.TONELADAS)<0 --"SOLO CUENTO PEDIDOS CON DESCUENTO, DEJANDO FUERA INCREMENTOS"
GROUP BY C.COMERCIAL_ID,B.FY_ID,C.COMERCIAL_DESC
ORDER BY FY_ID ASC,DTO_PCT ASC;

SELECT TOP 1 COUNT(*) AS NUMERO_PEDIDOS_DTO, C.COMERCIAL_ID,C.COMERCIAL_DESC,B.FY_ID, SUM(INGRESOS_EUR - (P.IMPORTE * B.TONELADAS)) AS DTO, AVG((INGRESOS_EUR - (P.IMPORTE * B.TONELADAS))/(P.IMPORTE*B.TONELADAS)) AS DTO_PCT 
FROM NEMINA.DBO.DATOS_BASE B
LEFT JOIN NEMINA.DBO.COMERCIALES C 
       ON B.ZONA_ID = C.ZONA_ID
LEFT JOIN NEMINA.DBO.PRODUCTOS P
       ON B.PRODUCTO_ID = P.PRODUCTO_ID
      AND B.FY_ID = P.FY_ID
WHERE INGRESOS_EUR - (P.IMPORTE * B.TONELADAS)<0 --"SOLO CUENTO PEDIDOS CON DESCUENTO, DEJANDO FUERA INCREMENTOS"
GROUP BY C.COMERCIAL_ID,B.FY_ID,C.COMERCIAL_DESC
HAVING B.FY_ID=2017
ORDER BY FY_ID ASC,DTO_PCT ASC;

SELECT TOP 1 COUNT(*) AS NUMERO_PEDIDOS_DTO,C.COMERCIAL_ID,C.COMERCIAL_DESC,B.FY_ID, SUM(INGRESOS_EUR - (P.IMPORTE * B.TONELADAS)) AS DTO, AVG((INGRESOS_EUR - (P.IMPORTE * B.TONELADAS))/(P.IMPORTE*B.TONELADAS)) AS DTO_PCT 
FROM NEMINA.DBO.DATOS_BASE B
LEFT JOIN NEMINA.DBO.COMERCIALES C 
       ON B.ZONA_ID = C.ZONA_ID
LEFT JOIN NEMINA.DBO.PRODUCTOS P
       ON B.PRODUCTO_ID = P.PRODUCTO_ID
      AND B.FY_ID = P.FY_ID
WHERE INGRESOS_EUR - (P.IMPORTE * B.TONELADAS)<0 --"SOLO CUENTO PEDIDOS CON DESCUENTO, DEJANDO FUERA INCREMENTOS"
GROUP BY C.COMERCIAL_ID,B.FY_ID,C.COMERCIAL_DESC
HAVING B.FY_ID=2018
ORDER BY FY_ID ASC,DTO_PCT ASC;

SELECT TOP 1 COUNT(*) AS NUMERO_PEDIDOS_DTO,C.COMERCIAL_ID,C.COMERCIAL_DESC,B.FY_ID, SUM(INGRESOS_EUR - (P.IMPORTE * B.TONELADAS)) AS DTO, AVG((INGRESOS_EUR - (P.IMPORTE * B.TONELADAS))/(P.IMPORTE*B.TONELADAS)) AS DTO_PCT 
FROM NEMINA.DBO.DATOS_BASE B
LEFT JOIN NEMINA.DBO.COMERCIALES C 
       ON B.ZONA_ID = C.ZONA_ID
LEFT JOIN NEMINA.DBO.PRODUCTOS P
       ON B.PRODUCTO_ID = P.PRODUCTO_ID
      AND B.FY_ID = P.FY_ID
WHERE INGRESOS_EUR - (P.IMPORTE * B.TONELADAS)<0 --"SOLO CUENTO PEDIDOS CON DESCUENTO, DEJANDO FUERA INCREMENTOS"
GROUP BY C.COMERCIAL_ID,B.FY_ID,C.COMERCIAL_DESC
HAVING B.FY_ID=2019
ORDER BY FY_ID ASC,DTO_PCT ASC;

NUMERO_PEDIDOS_DTO,COMERCIAL_ID,COMERCIAL_DESC,FY_ID,DTO,DTO_PCT
26,1,Breixo,2016,-34390.00000000000000000000,-0.051923

NUMERO_PEDIDOS_DTO,COMERCIAL_ID,COMERCIAL_DESC,FY_ID,DTO,DTO_PCT
35,1,Breixo,2017,-108073.16000000000000000000,-0.097340

NUMERO_PEDIDOS_DTO,COMERCIAL_ID,COMERCIAL_DESC,FY_ID,DTO,DTO_PCT
69,1,Breixo,2018,-424937.10000000000000000000,-0.122774

NUMERO_PEDIDOS_DTO,COMERCIAL_ID,COMERCIAL_DESC,FY_ID,DTO,DTO_PCT
82,1,Breixo,2019,-736479.40000000000000000000,-0.167126