In [1]:
import pandas as pd
import numpy as np
from scipy import stats # importando scipy.stats
from scipy.stats import chi2_contingency
from scipy.stats.contingency import expected_freq

alpha=0.05

## Contraste de Hipótesis
**Planteamiento**
Un estudio intenta comparar si existe relación entre el estatus civil de las personas y la incidencia de la obesidad. Se tiene una muestra aleatoria de personas

Deseamos hacer un Contraste de Hipótesis de **independencia** respecto a variables cualitativas. Será un test del tipo χ2  (Chi2).

In [2]:
df1 = pd.read_excel('./Practica3.xlsx')
df1

,ord,peso,estcivil,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,1,obeso,soltero,NaN,NaN,NaN,NaN,NaN
1,2,obeso,soltero,NaN,NaN,NaN,NaN,NaN
2,3,obeso,soltero,NaN,NaN,NaN,NaN,NaN
3,4,obeso,soltero,NaN,NaN,NaN,NaN,NaN
4,5,obeso,soltero,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1288,322,no obeso,en pareja,NaN,NaN,NaN,NaN,NaN
1289,323,no obeso,en pareja,NaN,NaN,NaN,NaN,NaN
1290,324,no obeso,en pareja,NaN,NaN,NaN,NaN,NaN
1291,325,no obeso,en pareja,NaN,NaN,NaN,NaN,NaN
1292,326,no obeso,en pareja,NaN,NaN,NaN,NaN,NaN

In [3]:
table = pd.crosstab(df1['peso'], df1['estcivil'], margins = False) 
table.columns

Index(['casado', 'en pareja', 'soltero'], dtype='object', name='estcivil')

In [4]:
table

estcivil  casado  en pareja  soltero
peso
no obeso     277        326      359
obeso        147        103       81

In [5]:
stat, p, dof, expected = chi2_contingency(table)
print('grados del libertad=%d' % dof)
print(expected)

grados del libertad=2
[[315.45862336 319.17865429 327.36272235]
 [108.54137664 109.82134571 112.63727765]]

In [9]:
critical = stats.chi2.ppf(1-alpha, dof)
critical

5.991464547107979

In [14]:
print('probabilidad=%.3f, valor critico=%.3f, stat=%.3f' % (1-alpha, critical, stat))
p

probabilidad=0.950, valor critico=5.991, stat=30.829

2.0214501595642486e-07

In [11]:
print('significacion=%.3f, p=%.3f' % (alpha, p))
if p <= alpha:
 print('Existe Dependencia (Se rechaza H0)')
else:
 print('Independencia (Se acepta H0)')

significacion=0.050, p=0.000
Existe Dependencia (Se rechaza H0)

### ¿Qué hacer si se demuestra dependencia en este tipo de tests? - Test PostHoc (2x2)

El test rechaza la hipótesis nula, por lo que sabemos que el estado civil y el peso no son independientes. 
Al ser un test con variables que tienen más de dos niveles no sabemos si la relación se da entre todo os nivel es o solo en alguno. 
Se puede entonces hacer un **test PostHoc** con objetivo es localizar los niveles que en los que se presenta la dependencia.
El número de combinaciones de niveles puede ser muy alto, por lo que es interesante ver los errores cometidos para identificar aquellos en los que hay mayores discrepancias entre el valor real y el esperado si las variables fueran independientes
ed))

In [15]:
expected

array([[315.45862336, 319.17865429, 327.36272235],
       [108.54137664, 109.82134571, 112.63727765]])

In [47]:
residuos = (table-expected)/np.sqrt(expected)
residuos
abs(residuos)<1.96

estcivil  casado  en pareja  soltero
peso
no obeso   False       True     True
obeso      False       True    False

#### Casado vs soltero

In [27]:
df1 = table.drop('en pareja',axis=1)
df1

estcivil  casado  soltero
peso
no obeso     277      359
obeso        147       81

In [32]:
stat2,p2,dof2,expected2 = stats.chi2_contingency(df1)
print(expected2)

[[312.11111111 323.88888889]
 [111.88888889 116.11111111]]

In [33]:
p2

9.082832633465167e-08

In [34]:
print('significacion=%.3f, p=%.3f' % (alpha, p2))
if p2 <= alpha:
 print('Existe Dependencia en el test PostHoc  (Se rechaza H0)')
else:
 print('Independencia en el test PostHoc  (Se acepta H0)')

significacion=0.050, p=0.000
Existe Dependencia en el test PostHoc  (Se rechaza H0)

In [49]:
residuos = (df1-expected2)/np.sqrt(expected2)
abs(residuos)<1.96

estcivil  casado  soltero
peso
no obeso   False     True
obeso      False    False

#### Casado vs en pareja

In [28]:
df2 = table.drop('soltero',axis=1)
df2

estcivil  casado  en pareja
peso
no obeso     277        326
obeso        147        103

In [29]:
stat3,p3,dof3,expected3 = stats.chi2_contingency(df2)
print(expected3)

[[299.73270809 303.26729191]
 [124.26729191 125.73270809]]

In [43]:
print('significacion=%.3f, p=%.3f' % (alpha, p3))
if p3 <= alpha:
 print('Existe Dependencia en el test PostHoc  (Se rechaza H0)')
else:
 print('Independencia en el test PostHoc  (Se acepta H0)')

significacion=0.050, p=0.001
Existe Dependencia en el test PostHoc  (Se rechaza H0)

In [48]:
residuos = (df2-expected3)/np.sqrt(expected3)
abs(residuos)<1.96

estcivil  casado  en pareja
peso
no obeso    True       True
obeso      False      False

#### Soltero vs en pareja

In [36]:
df3 = table.drop('casado',axis=1)
df3

estcivil  en pareja  soltero
peso
no obeso        326      359
obeso           103       81

In [40]:
stat4,p4,dof4,expected4 = stats.chi2_contingency(df3)
print(expected4)

[[338.16455696 346.83544304]
 [ 90.83544304  93.16455696]]

In [41]:
p4

0.05271312229967728

In [44]:
print('significacion=%.3f, p=%.3f' % (alpha, p4))
if p4 <= alpha:
 print('Existe Dependencia en el test PostHoc  (Se rechaza H0)')
else:
 print('Independencia en el test PostHoc  (Se acepta H0)')

significacion=0.050, p=0.053
Independencia en el test PostHoc  (Se acepta H0)

In [46]:
residuos = (df3-expected4)/np.sqrt(expected4)
abs(residuos)<1.96

estcivil  en pareja  soltero
peso
no obeso       True     True
obeso          True     True

Las dependencia con ser obeso o no se da entre los casado o soltero. Existen menos obesos entre los solteros (81 frente a los 116 esperados) y sin embargo hay más obesos entre los casados (147 frente a los 112 esperados)