## An√°lisis RFM

#### Desde fichero sin formatear

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('./online_retail_listing_utf_8.csv',sep=';')
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,1.12.2009 07:45,"6,95",13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,1.12.2009 07:45,"6,75",13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,1.12.2009 07:45,"6,75",13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,1.12.2009 07:45,"2,1",13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,1.12.2009 07:45,"1,25",13085.0,United Kingdom

In [2]:
df.shape[0]

1048575

In [3]:
df['Customer ID'].isna().value_counts()

False    811893
True     236682
Name: Customer ID, dtype: int64

In [4]:
df= df[df['Customer ID'].isna()==False]
df.shape[0]

811893

In [5]:
df['Customer ID'] = df['Customer ID'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 811893 entries, 0 to 1048574
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      811893 non-null  object
 1   StockCode    811893 non-null  object
 2   Description  811893 non-null  object
 3   Quantity     811893 non-null  int64
 4   InvoiceDate  811893 non-null  object
 5   Price        811893 non-null  object
 6   Customer ID  811893 non-null  int32
 7   Country      811893 non-null  object
dtypes: int32(1), int64(1), object(6)
memory usage: 52.7+ MB

In [6]:
df['Price'] = df['Price'].str.replace(',','.').astype(float)
df.dtypes

Invoice         object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
Price          float64
Customer ID      int32
Country         object
dtype: object

In [18]:
from datetime import datetime
df['InvoiceDate'] = pd.to_datetime(df.InvoiceDate, format='%d.%m.%Y %H:%M')
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085,United Kingdom

In [19]:
df.InvoiceDate.min(), df.InvoiceDate.max()

(Timestamp('2009-12-01 07:45:00'), Timestamp('2011-12-04 13:15:00'))

In [22]:
dict_cols = {
    'Invoice': 'PEDIDO_ID',
    'StockCode': 'PRODUCTO_ID',
    'Description':'DESCRIPCION',
    'Quantity':'UNIDADES',
    'InvoiceDate':'FECHA_PEDIDO_ID',
    'Price':'PRECIO',
    'Customer ID':'CLIENTE_ID',
    'Country':'PAIS'
}

df.rename(columns = dict_cols,inplace=True)

In [23]:
df.columns

Index(['PEDIDO_ID', 'PRODUCTO_ID', 'DESCRIPCION', 'UNIDADES',
       'FECHA_PEDIDO_ID', 'PRECIO', 'CLIENTE_ID', 'PAIS'],
      dtype='object')

In [24]:
df['IMPORTE_VENTA'] = df['PRECIO'] * df.UNIDADES

In [25]:
df.head()

,PEDIDO_ID,PRODUCTO_ID,DESCRIPCION,UNIDADES,FECHA_PEDIDO_ID,PRECIO,CLIENTE_ID,PAIS,IMPORTE_VENTA
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085,United Kingdom,83.4
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom,81.0
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom,81.0
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085,United Kingdom,100.8
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085,United Kingdom,30.0

In [31]:
df.groupby(by=['PRODUCTO_ID','DESCRIPCION'])['UNIDADES'].agg(['sum','mean'])

                                          sum       mean
PRODUCTO_ID DESCRIPCION
10002       INFLATABLE POLITICAL GLOBE   7401  22.842593
10080       GROOVY CACTUS INFLATABLE      303  11.222222
10109       BENDY COLOUR PENCILS            4   4.000000
10120       DOGGY RUBBER                  628   9.515152
10123C      HEARTS WRAPPING TAPE          482   9.269231
...                                       ...        ...
PADS        PADS TO MATCH ALL CUSHIONS     17   0.894737
POST        POSTAGE                      4984   2.517172
SP1002      KID'S CHALKBOARD/EASEL          5   2.500000
TEST001     This is a test product.        55   3.666667
TEST002     This is a test product.         1   1.000000

[5329 rows x 2 columns]